<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="#">Best Cars</a>
                  <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About Us</a>
                  <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    {% if reviews %}
                    <a class="btn btn-link" href="{% url 'djangoapp:dealer_details' reviews.0.dealership %}">Reviews</a>
                    {% endif %}
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Username" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Add reviews as cards -->
    <h3>Reviews for {{ reviews.0.name}} Dealership</h3>
    {% if reviews %}
    <div class="container">
        <div class="card-deck">
            {% for review in reviews %}
                     <div class="card mt-5" style="width: 30rem;">
                    {% if review.sentiment == "positive" %}
                      <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" width="40px" height="40px" alt="image">
                    {% elif review.sentiment == "negative" %}
                        <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" width="40px" height="40px" alt="image">
                    {% else %}
                        <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" width="40px" height="40px" alt="image">
                    {% endif %}
                      <div class="card-body bg-light">
                        <p class="card-text">{{ review.car_make}}, {{ review.car_model }}</p>
                        <p class="card-text">{{ review.review}}</p>
                      </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>No reviews are available.</p>
{% endif %}

    </body>

</html>